<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="Systems" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1033/Service.svc/Systems"
                binding="wsHttpBinding" bindingConfiguration="Systems" contract="HSService.ISystem"
                name="Systems">
                <identity>
                    <userPrincipalName value="BangDV-PC\BangDV" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>