<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <add key="AppName" value="Mdi Forms"/>
        <add key="DB_Server" value=".\sql2008"/>
        <add key="DB_Database" value="HS"/>
        <add key="DB_User" value="sa"/>
        <add key="DB_Pass" value="1"/>
        <add key="Debug" value="1"/>
    </appSettings>
</configuration>
