<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MailService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.sting.todo.vn:28110/MailService/soap"
                binding="basicHttpBinding" bindingConfiguration="MailService"
                contract="MailService.MailServicePortType" name="MailService" />
        </client>
    </system.serviceModel>
</configuration>