<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="Systems">
          <binaryMessageEncoding />
          <httpTransport transferMode="Streamed"
              manualAddressing="False"
              maxBufferPoolSize="2147483647"
              maxReceivedMessageSize="2147483647"
              maxBufferSize="2147483647">
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1032/Service.svc/Systems"
          binding="customBinding" bindingConfiguration="Systems" contract="HSService.ISystem"
          name="Systems" />
    </client>
  </system.serviceModel>
</configuration>