<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HS.Server.BR.Properties.Settings.HSConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=HS;Persist Security Info=True;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>